body{
    font-size: 12px;
    margin: 0 ;
}
/*定义超链接样式*/
a.anavi:link,a.anavi:visited,a.anavi:hover,a.anavi:active {
    color:#C3CDDF;
    text-decoration: none;
}
/*通用的lini*/

a:link,a:visited,a:active {
    color:#3B5888;
    text-decoration: none;
}
a:hover{
    color: #3B5888;
    text-decoration: underline;
}

/*定义常用的字体样式*/
.font1{
    color: #3B5888;
}
.font2{
    /*color: aqua;*/
    font-size: 16px;
    font-weight: bold;
}
/*浅灰色 12px*/
.font3{
    font-size: 12px;
    color:#C3CDDF;
    line-height: 22px;
}
/*灰色 12px 粗体*/
.font4{
    color: #808080;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}
/*纯黑粗体*/
.font5{
    font-weight: bold;
}